@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.font{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: white;
}

.navbar{
    height: 88px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 999;
    border-bottom: 0.01px solid rgba(255, 255, 255, 0.151);
}


.btn {
   
    color: black;
    background: white;
    border-radius: 15px;
    height: 45px;
    width: 160px;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    
  }

  .fourth {
    color:black;
    background-image: -webkit-linear-gradient(45deg, #e74c3c 50%, transparent 50%);
    background-image: linear-gradient(45deg, #e74c3c 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: all 0.8s ease;
    transition: all 0.88s ease;
  }
  .fourth:hover {
    transition: all 0.88s ease;
    background-position: 0;
  }

  .navbar-toggler-icon{
    color: white;
  }

  .nav-item{
    text-decoration: none;
  }

.Hero{
    height: 80vh;
    width: 100%;
    overflow:scroll;
    overflow-x: hidden;
}

.swiper {
    
  }
.swp1{
  width: 100%;
    height: 85vh;
}

.swiper-slide {
    
  }
.swpslide{
  background-position: center;
    background-size: cover;
}

  .slide1{
    background-image: url(../images/bgimg/home-5-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }.slide2{
    background-image: url(../images/bgimg/home-5-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }  .slide3{
    background-image: url(../images/bgimg/home-5-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }  .slide4{
    background-image: url(../images/bgimg/home-5-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
  }

.dark{
  background-color: rgba(0, 0, 0, 0.418);
}

.herotxt{
  position: relative;
  top: 38%;
  left: 15%;
}

.herobtn-a{
  width: 300px;
}

.heroh4{
  font-size: 36px;
  font-weight: 600;
}

.heroh3{
  font-size: 52px;
  font-weight: 600;
}

.herop{
  font-size: 15px;
  font-weight: 400;
}

.s2 h1{
  font-size: 52px;
  font-weight: 600;
}

.s2 p{
  font-size: 20px;
}

.s2btn1{
  width: 100px;
  transition: all .3s ease;
  background-color: black;

}

.s2btn2{
  width: 100px;
  transition: all .5s ease;
  color: black;
  background-color: white;
}

.s2btn1:hover{
  background-color: white;
  color: black;
  transition: all .3s ease;
}

.s2btn2:hover{
  background-color: black;
  color: white;
  transition: all .5s ease;
}

.s3 h1{
  font-size: 42px;
  font-weight: 600;
}

.s3 p{
  font-size: 20px;
  font-weight: 500;
}

.s3img{
 width: 100%;
}

.s3 h3{
  font-size: 40px;
  font-weight: 600;
}

.s3btn1{
  width: 120px;
  transition: all .5s ease;
  color: black;
  background-color: white;
  font-size:small;
  font-weight: 400;
  border: 1px solid black;
}

.s3btn1:hover{
  background-color: black;
  color: white;
  transition: all .5s ease;
}

.s3 a{
  font-size: small;
  font-weight: 400;
}
.cd1bkg{
  background-image: url("../images/illustrations/SIMPLE.svg");
  width: 100%;
  height: 320px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cd2bkg{
  background-image: url("../images/illustrations/affordable.svg");
  width: 100%;
  height: 300px;
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cd3bkg{
  background-image: url("../images/illustrations/transact.svg");
  width: 100%;
  height: 290px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.imgsignup{
  background-image: url("../images/illustrations/signup.svg");
  width: 100%;
  height: 320px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.brwlist{
  background-image: url("../images/illustrations/Browselisting.svg");
  width: 100%;
  height: 320px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.deal{
  background-image: url("../images/illustrations/deal.svg");
  width: 100%;
  height: 320px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.swip2 {
  width: 100%;
  height: 250px;
}

.swipslide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.swpbtn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 75%;
  margin: auto;
  transition: all 0.2s ease;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.1rem;
  width: 100%;
  margin-top: 15px;
  padding: 5px ;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  transition: all 0.3s ease;
}

.accordion i {
  font-size: 1.6rem;
  transition: transform 0.5s ease; /* Smooth rotation */
}

.accordion.active i {
  transform: rotate(180deg); /* Rotate icon 360 degrees */
}

.active,
.accordion:hover {
  background-color: white;
}

.pannel {
  padding: 5px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out, padding 0.2s ease;
}

.pannel p {
 font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  transition: all 0.2s ease;
}

.faq {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  transition: all 0.5s ease;
}
.faq .active {
  
  transition: all 0.5s ease;
}

.pannel.active {
  display: block;
  max-height: 500px; /* Adjust this value as needed */
  padding: 2rem;
}



.newsltrimg{
  background-image: url("../images/illustrations/newsletter.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 55%;
  height: auto;
  width: 100%;
}